:root {
    --MenuBar-height: calc(60px + 5vw);
    --MenuBar-padding: 1vh 20vw;
    --Variable-margin: 15vw;
}

#ActivePage {
    background-color: hsl(240, 100%, 20%);
    color: whitesmoke;
}

#PieDough {
    grid-column: 1/5;
    width: auto;
    height: 16.4vw;
}

#PieDough img {
    width: 100%;
    height: 12vw;
}

/*#SecondWaffleIngredients {
    margin: 0;
}*/

.PageTitle {
    height: 5vw;
    padding: 5px 0;
}

.MenuBar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0%;
    margin: 0;
    padding: var(--MenuBar-padding);
    height: var(--MenuBar-height);
    min-height: 50px;
    background-color: hsl(240, 100%, 20%);
    color: white;
}

.MenuBox {
    margin: 8px 0px 0px 5px;
}

.MenuList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ListItems {
    float: left;
}

.ListLink {
    display: block;
    margin: 1px;
    padding: 5px 10px;
    color: hsl(240, 100%, 40%);
    background-color: hsl(60, 100%, 40%);
    border: 3px solid hsl(60, 100%, 40%);
    border-radius: 8px;
    /*height: 2vw;
    min-height: 15px;
    max-height: 20px;
    width: 3vw;
    min-width: 40px;
    max-width: 40px;
    font-size: inherit;*/
}

.TopSpacer {
    height: var(--MenuBar-height);
    min-height: 50px;
    padding: var(--MenuBar-padding);
}

.Recipes {
    margin: 0px var(--Variable-margin);    
    padding: 0;
    /*display: flex;
    flex-wrap: wrap;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, auto);
}

.RecipePicture {
    /*display: flex;*/
    margin: 0.2vw;
    padding: 0px;
    width: 16.4vw;
    border: 2px solid hsl(240, 100%, 40%);
}

.RecipePicture:hover {
    border: 2px solid hsl(60, 100%, 40%);
}

.RecipePicture img {
    width: 100%;
    height: auto;
}

/*.PieDoughPicture {
    display: flex;
    margin: 0.2vw;
    padding: 0px;
    width: 58vw;
    height: 15vw;
    background-color: hsl(240, 40%, 90%);
    border: 16px solid hsl(240, 100%, 40%);
}

.PieDoughPicture:hover {
    border: 16px solid hsl(60, 100%, 40%);
}

.PieDoughPicture img {
    width: 100%;
    height: auto;
}*/

/*.TopImage {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 0px;
}*/

.BottomDescription {
    /*display: flex;
    flex-direction: column;
    align-self: flex-end;
    bottom: 0px;
    padding: 5px;*/
    text-align: center;
}

.ViewerInfo {
    margin: 15px var(--Variable-margin);
    padding: 0;
    display: flex;
    flex-direction: column;
}

.VIHeadingSize {
    font-size: 20px;
}

/*.WaffleIngredients {
    display: flex;
    flex-direction: column;
}*/

body {
    background-color: whitesmoke;
}

h1 {
    font-size: calc(8px + 2.3vw);
}

a {
    color: black;
}

li a:hover {
    color: white;
    background-color: hsl(280, 100%, 20%);
}