:root {
    --MenuBar-height: calc(60px + 5vw);
    --MenuBar-padding: 1vh 20vw;
    --Variable-padding: 20vw;
}

#ActivePage {
    background-color: hsl(240, 100%, 20%);
    color: whitesmoke;
}

.PageTitle {
    height: 5vw;
    padding: 5px 0;
}

.MenuBar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0%;
    margin: 0px;
    padding: var(--MenuBar-padding);
    height: var(--MenuBar-height);
    min-height: 50px;
    background-color: hsl(240, 100%, 20%);
    color: white;
}

.MenuBox {
    margin: 5px;
}

.MenuList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ListItems {
    float: left;
}

.ListLink {
    display: block;
    margin: 1px;
    padding: 5px 10px;
    color: hsl(240, 100%, 40%);
    background-color: hsl(60, 100%, 40%);
    border: 3px solid hsl(60, 100%, 40%);
    border-radius: 8px;
    /*height: 2vw;
    min-height: 15px;
    max-height: 20px;
    width: 3vw;
    min-width: 40px;
    max-width: 40px;
    font-size: inherit;*/
}

.TopSpacer {
    height: var(--MenuBar-height);
    min-height: 50px;
    padding: var(--MenuBar-padding);
}

.RecipePicture {
    float: left;
    margin: 5px;
    padding: 0px;
    width: 16vw;
    border: 2px solid hsl(240, 100%, 40%);
}

.RecipePicture:hover {
    border: 2px solid hsl(60, 100%, 40%);
}

.RecipePicture img {
    width: 100%;
    height: auto;
}

.Description {
    padding: 5px;
    text-align: center;
}

.ViewerInfo {
    margin: 15px var(--Variable-padding);
    padding: 0;
}

.Pictures {
    margin: 0px;
    padding: 1% var(--Variable-padding);
}

body {
    background-color: whitesmoke;
}

h1 {
    font-size: calc(5px + 2.1vw);
}

a {
    color: black;
}

li a:hover {
    color: white;
    background-color: purple;
}